/* line 1, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/currents.scss */
body {
  background-color: #f7f7f7;
}

/* line 5, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/currents.scss */
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: center;
  font-size: 25px !important;
  padding: 0px !important;
  margin-bottom: 0px !important;
  border-radius: 2px 2px 0 0;
}

/* line 16, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/currents.scss */
.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: center;
  font-size: 25px !important;
  padding: 0px !important;
  margin-bottom: 0px !important;
  border-radius: 2px 2px 0 0;
}

/* line 27, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/currents.scss */
.alert-success {
  background-color: #88888F;
  border-color: #5F5E63;
  color: #FFFFFF;
  text-align: center;
  font-size: 25px !important;
  padding: 0px !important;
  margin-bottom: 0px !important;
  border-radius: 2px 2px 0 0;
}

/* line 38, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/currents.scss */
.alert-notice {
  background-color: #88888F;
  border-color: #5F5E63;
  color: #FFFFFF;
  text-align: center;
  font-size: 25px !important;
  padding: 0px !important;
  margin-bottom: 0px !important;
  border-radius: 2px 2px 0 0;
}

/* line 49, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/currents.scss */
.container {
  width: auto;
  padding: 0px;
}

/* line 56, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/currents.scss */
.list-group-item {
  border: 5px solid #e4eaec;
}

/* line 60, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/currents.scss */
.h1 {
  color: rgba(49, 63, 78, 0.9);
  font-size: 75px;
  line-height: 100px;
  font-weight: 700;
  text-align: center;
  /*text-transform: uppercase;*/
  text-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

/* line 70, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/currents.scss */
.h2 {
  color: rgba(49, 63, 78, 0.75);
  margin-bottom: 40px;
  font-family: "Roboto Slab", serif;
  font-size: 25px;
  line-height: 40px;
}

/* line 78, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/currents.scss */
.h22 {
  color: #454647;
  font-size: 50px;
  line-height: 40px;
  opacity: .90;
}

/* line 85, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/currents.scss */
.how_it_works {
  background-color: rgba(81, 82, 83, 0.1);
  padding: 0px;
}

/* line 90, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/currents.scss */
.panel-heading-how-it-works {
  height: auto;
  font-family: "Roboto Slab", serif;
  font-size: 30px;
  line-height: 25px;
  padding-left: 20px;
}

/* line 98, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/currents.scss */
.panel-body-how-it-works {
  height: 100px;
  text-align: left;
  padding-left: 20px;
  line-height: 22px;
  padding-top: 20px;
}

/* line 106, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/currents.scss */
.vertical-align {
  display: flex;
  align-items: center;
  flex: 100;
}

/* line 112, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/currents.scss */
h2.usp-heading {
  margin-top: 0px;
}

/* line 116, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/currents.scss */
.panel-heading {
  height: 100px;
}

/* line 121, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/currents.scss */
.panel-default-reports {
  border-top-width: 3px;
  background-color: #88888F !important;
  color: white;
}

/* line 131, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/currents.scss */
.panel-heading-edituser {
  background-color: #88888F !important;
  padding-left: 40px !important;
  color: white;
}

/* line 137, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/currents.scss */
.panel-body-edituser {
  line-height: 2.0 !important;
  padding: 30px;
}

/* line 141, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/currents.scss */
.panel-inverse-edituser {
  border: 1px solid;
}

/* line 145, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/currents.scss */
.btn-block-edituser {
  background-color: #88888F !important;
  color: white;
}

/* line 151, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/currents.scss */
.panel-body-buzz {
  padding: 1px;
}
