/* line 1, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/maps.scss */
html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
}

/* line 8, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/maps.scss */
#map {
  height: 80%;
  width: 100%;
}

/* line 13, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/maps.scss */
#locdetails {
  position: fixed;
  text-align: center;
  font-family: Roboto, Arial, sans-serif;
  font-size: 13px;
  z-index: 5;
  box-shadow: #333333 0px 4px 6px -4px;
  padding: 5px 10px;
  background: linear-gradient(white 0%, whitesmoke 100%);
  border: #e5e5e5 2px solid;
  margin-top: 50px;
}

/* line 26, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/maps.scss */
.hoverclass {
  display: inline-block;
  margin: 5px 2%;
  width: 28%;
}

/* line 32, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/maps.scss */
.hoverrow {
  display: block;
  width: 100%;
}

/* line 37, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/maps.scss */
table {
  border-collapse: collapse;
  width: 100%;
}

/* line 42, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/maps.scss */
th,
td {
  text-align: left;
  padding: 8px;
}

/* line 48, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/maps.scss */
tr:nth-child(even) {
  background-color: #f2f2f2;
}

/* line 52, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/maps.scss */
th {
  background-color: #0C1D8A;
  color: white;
}

/* line 57, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/maps.scss */
.iw-title {
  font-family: 'Open Sans Condensed', sans-serif;
  font-size: 22px;
  font-weight: 400;
  padding: 10px;
  background-color: #48b5e9;
  color: white;
  margin: 1px;
  border-radius: 2px 2px 0 0;
  /* In accordance with the rounding of the default infowindow corners. */
}

/* line 69, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/maps.scss */
.p-lg {
  padding: 0px !important;
}

/* line 73, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/maps.scss */
.content-wrapper {
  border-top: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

/* line 79, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/maps.scss */
.form-control {
  width: 40% !important;
}

/* line 83, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/maps.scss */
h1,
h4 {
  color: #3D3D40;
}

@media only screen and (min-device-width: 768px) {
  /* line 89, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/maps.scss */
  .gm-style-iw {
    width: 534px !important;
    top: 15px !important;
    left: 0 !important;
    background-color: #fff;
    box-shadow: 0 1px 6px rgba(178, 178, 178, 0.6);
    border: 1px solid rgba(72, 181, 233, 0.6);
    border-radius: 2px 2px 10px 10px;
  }

  /* line 98, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/maps.scss */
  #locdetails {
    left: 0px;
    width: 30%;
  }
}
@media only screen and (min-device-width: 320px) and (max-device-width: 480px) {
  /* line 105, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/maps.scss */
  .gm-style-iw {
    width: 100% !important;
    top: 15px !important;
    background-color: #fff;
    border: 1px solid rgba(72, 181, 233, 0.6);
    border-radius: 2px 2px 10px 10px;
  }

  /* line 112, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/maps.scss */
  .gm-style-table {
    width: 100%;
    display: table-row;
  }

  /* line 116, /Users/AJ/Desktop/projects/currents/app/assets/stylesheets/maps.scss */
  #locdetails {
    bottom: 0px;
    width: 100%;
  }
}
