<div id="table-container">
	<div class="content-wrapper">
		<div class="row">
			<div class="col-lg-4">
    		<div class="panel panel-default">
					<div class="panel-heading">
				<h3>Post Recent Buzz</h3>
			</div>
			
			<div class="panel-body"	>
				<%= render 'form' %>
			</div>

			<ul>
					<%= link_to 'Back', buzzs_path %>
			</ul>	

		</div>
	</div>
</div>
