<script>
  var map;
      
  // Map Display options
  function initMap() {
    map = new google.maps.Map(document.getElementById('map'), {
      zoom: 9,
      center: {lat: 42.05, lng: -70.25},
      mapTypeId: google.maps.MapTypeId.SATELLITE
    });

    // Define the LatLng coordinates for the polygon.   
    var cc_peaked_hill = 	[
      {lat: 42.049803, lng: -69.970551},
      {lat: 42.048273, lng: -69.978790},
      {lat: 42.043684, lng: -70.046082},
      {lat: 42.043684, lng: -70.058441},
      {lat: 42.056940, lng: -70.085907},
      {lat: 42.070194, lng: -70.118179},
      {lat: 42.079369, lng: -70.156631},
      {lat: 42.049803, lng: -69.970551}
    ];

    // Construct the polygon.
    var cc_peaked_hill_billsPollygon = new google.maps.Polygon({
      paths: cc_peaked_hill,
      strokeColor: '#F7F8FF',
      strokeOpacity: 0.8,
      strokeWeight: 1,
      fillColor: '#4562A8',
      fillOpacity: 0.45,
      editable: false
    });
    
    // Build the Polygons
    polygons = cc_peaked_hill_billsPollygon.setMap(map);

    //isten for clicks on the polygon.
    google.maps.event.addListener(polygons, 'click', function (event){
        alert('clicked polygon!');
    });

    //Listen for when the mouse hovers over the polygon.
    google.maps.event.addListener(polygons, 'mouseover', function (event) {
        // Within the event listener, "this" refers to the polygon which
        // received the event.
        this.setOptions({
            strokeColor: '#00ff00',
            fillColor: '#00ff00'
        });
    });

  }
</script>