<head>
  <script type="application/ld+json">
    <%= display_meta_tags  %>
  </script>
</head>
<div id="content" role="main">
  <!-- <div class="page&#45;header larger larger&#45;desc"> -->
  <div class="page-header parallax dark half-largest larger-desc" data-bgattach="<%= image_path('boss/backgrounds/aboutme-header2.jpg') %>" data-0="background-position:50% 0px;" data-500="background-position:50% -100%">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h1>Blog Simple <small class="hidden-xs">(Clean -Sidebar)</small></h1>
          <p class="page-header-desc">Read latest and popular news about us and do not miss out!</p>
        </div>
        <!-- End .col-md-6 -->
        <div class="col-md-6">
          <ol class="breadcrumb">
            <li><a href="index.html">Home</a></li>
            <li class="active">Blog</li>
          </ol>
        </div>
        <!-- End .col-md-6 -->
      </div>
      <!-- End .row -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End .page-header -->
  <div class="container">
    <div class="row">
      <div class="col-md-9">
        <%= render 'index' %>
      </div>
      <!-- End .col-md-9 -->
      <div class="mb60 clearfix visible-sm visible-xs"></div>
      <!-- space -->
      <aside class="col-md-3 sidebar" role="complementary">
        <div class="widget">
          <h3>Categories</h3>
          <ul class="links">
            <li><a href=""><i class="fa fa-angle-right"></i>Templates (10)</a></li>
            <li><a href=""><i class="fa fa-angle-right"></i>Business (8)</a></li>
            <li><a href=""><i class="fa fa-angle-right"></i>Corporate (7)</a></li>
            <li><a href=""><i class="fa fa-angle-right"></i>Wordpress Themes (5)</a></li>
            <li><a href=""><i class="fa fa-angle-right"></i>Wordpress Plugins (4)</a></li>
            <li><a href=""><i class="fa fa-angle-right"></i>Bootstrap Components (14)</a></li>
          </ul>
        </div>
        <!-- End .widget -->
        <div class="widget">
          <h3>TagCloud</h3>
          <div class="tagcloud clearfix">
            <a href="#">Bootstrap</a>
            <a href="#">Wordpress</a>
            <a href="#">Html5</a>
            <a href="#">Css3</a>
            <a href="#">Jquery</a>
            <a href="#">Multipurpose</a>
            <a href="#">Corporate</a>
            <a href="#">Creative</a>
          </div>
          <!-- End .tagcloud -->
        </div>
        <!-- End .widget -->
        <div class="widget">
          <h3>Flickr Feed</h3>
          <ul class="flickr-widget flickr-widget-two clearfix"></ul>
        </div>
        <!-- End .widget -->
      </aside>
      <!-- End .col-md-3 -->
    </div>
    <!-- End .row -->
  </div>
  <!-- End .container -->
  <div class="mb20 hidden-xs hidden-sm"></div>
  <!-- space -->
</div>
<!-- End #content -->
