<div class="<%= page %> subscribe-email-form">
<%= form_tag(subscribe_url, method: :put, remote: true, id: 'subscribe-email-form') do %>
  <%= text_field_tag :email, nil, placeholder: 'ADD EMAIL TO RECIEVE CURRENT INTEL', style:"background:#F1E9F7" %>
  <%= submit_tag "Subscribe", class: 'btn btn-warning btn-lg' %>
<% end %>
</div>
<div class="subscribe-email-form error"></div>
<div class="subscribe-email-form success"></div>
