google_map_api_key: ""
PARTY_FOUL_OAUTH_TOKEN: ""
PARTY_FOUL_OWNER: ""

development:
  CURRENTS_DB_NAME: "currents_dev"
  CURRENTS_PSQL_USERNAME: "currents"
  CURRENTS_PSQL_PASSWORD: "currents"

test:
  CURRENTS_DB_NAME: "currents_test"
  CURRENTS_PSQL_USERNAME: "currents"
  CURRENTS_PSQL_PASSWORD: "currents"

production:
  HOST: "currents.com"
