<div class="content-wrapper">
  <div class="row">
    <div class="col-lg-9">
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="bb">
            <h2 class="text-lg">
              Edit Post
            </h2>
          </div>
        </div>
        <%= render 'form' %>
      </div>
    </div>
  </div>
</div>
