<div class="content-wrapper">	
	<div class="row">
		<div class="col-lg-9">
			<div class="panel panel-default">
				<div class="panel-heading">
					<div class="bb">
						<h2 class="text-lg">
							<%= @post.title %>
						</h2>
						<p class="date">
						Submitted <%= time_ago_in_words(@post.created_at) %> A go
 						</p>
					</div>
				</div>

				<div class="panel-body text-md">
					<%= @post.body %>
				</div>
		
			</div>
		</div>
	</div>
</div>
