<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Currents | Trial period going to expire, <%= @user.first_name %></h1>
    <p>
      Your trial is going to expire soon.     </p>
    <p>
    <%= link_to 'Click Here', @url %> to add the card details.
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>
