// SASS variable overrides must be declared before loading up Active Admin's styles.
//
// To view the variables that Active Admin provides, take a look at
// `app/assets/stylesheets/active_admin/mixins/_variables.scss` in the
// Active Admin source.
//
// For example, to change the sidebar width:
// $sidebar-width: 242px;

// Active Admin's got SASS!
@import "active_admin/mixins";
@import "active_admin/base";

// Overriding any non-variable SASS must be done after the fact.
// For example, to change the default status-tag color:
//
//   .status_tag { background: #6090DB; }
.location-legend-admin-div {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 999;
}
.location-legend-image.admin {
    display: block;
    position: absolute;
    height: 550px;
    width: auto;
    margin-top: 38px;
    right: 0px;
}
#index_footer>ul.pagination{ 
  li{
    display: inline;
  }
}
