// Place all the styles related to the Buzzs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
  .b {
    border-right: 1px solid rgba(0, 0, 0, 0.50);
    border-left: 1px solid rgba(0, 0, 0, 0.50);
    border-top: 1px solid rgba(0, 0, 0, 0.50);
    border-bottom: 1px solid rgba(0, 0, 0, 0.50);
  }
     .container {
      margin-left: 0px !important;
      margin-right: 0px !important;
      padding-right: 0px !important;
      padding-left: 0px !important;
      width: auto !important;
   }
   .h3 {
    margin-bottom: 0px !important;
    margin-top: 10px !important;
    font-weight: bold;
   }

