body {
    background-color: #f7f7f7;
}


.alert-error {
  background-color: #f05050;
  border-color: rgba(0, 0, 0, 0.1);
  color: #ffffff;
    text-align: center;
    font-size: 25px !important;
    padding: 0px !important;
    margin-bottom: 0px !important;
    border-radius: 2px 2px 0 0;
}

.alert-alert {
  background-color: #f05050;
  border-color: rgba(0, 0, 0, 0.1);
  color: #ffffff;
    text-align: center;
    font-size: 25px !important;
    padding: 0px !important;
    margin-bottom: 0px !important;
    border-radius: 2px 2px 0 0;
}

.alert-success {
  background-color: #27c24c;
  border-color: rgba(0, 0, 0, 0.1);
  color: #ffffff;
    text-align: center;
    font-size: 25px !important;
    padding: 0px !important;
    margin-bottom: 0px !important;
    border-radius: 2px 2px 0 0;
}

.alert-notice {
  background-color: #27c24c;
  border-color: rgba(0, 0, 0, 0.1);
  color: #ffffff;
    text-align: center;
    font-size: 25px !important;
    padding: 0px !important;
    margin-bottom: 0px !important;
    border-radius: 2px 2px 0 0;
}

.container {
    width: auto;
    padding: 0px;
}



.h1 {
    color: rgba(49, 63, 78, 0.90);
    font-size: 75px;
    line-height: 100px;
    font-weight: 700;
    text-align: center;
    /*text-transform: uppercase;*/
    text-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

.h2 {
    color: rgba(49, 63, 78, 0.75);
    margin-bottom: 40px;
    font-family: "Roboto Slab", serif;
    font-size: 25px;
    line-height: 40px;
}

.h22 {
    color: #454647;
    font-size: 50px;
    line-height: 40px;
    opacity: .90;
}

.how_it_works {
    background-color: rgba(81, 82, 83, 0.1);
    padding: 0px;
}

.intro {
    background-color: rgba(20, 133, 204, 0.55);
    padding: 0px;
}

.panel-heading-how-it-works {
    height: auto;
    font-family: "Roboto Slab", serif;
    font-size: 30px;
    line-height: 25px;
    padding-left: 20px;
}

.panel-body-how-it-works {
    height: 100px;
    text-align: left;
    padding-left: 20px;
    line-height: 22px;
    padding-top: 20px;
}

.vertical-align {
    display: flex;
    align-items: center;
    flex: 100;
}

h2.usp-heading {
    margin-top: 0px;
}

.panel-heading {
    height: 100px;
}

// reports index
.panel-default-reports {
    border-top-width: 3px;
    background-color: #88888F !important;
    color: white;
}

// edit user
.panel-heading-edituser {
    background-color: #88888F !important;
    padding-left: 40px !important;
    color: white;
}

.panel-body-edituser {
    line-height: 2.0 !important;
    padding: 30px;
}

.panel-inverse-edituser {
    border: 1px solid;
}

.btn-block-edituser {
    background-color: #88888F !important;
    color: white;
}

// blog
.panel-body-buzz {
    padding: 1px;
}

.tk-blackoak-std {
    font-size: 2.2em;
    letter-spacing: .15em;
    margin: 05px;
    text-shadow: 1px .5px #1797be;
    /*line-height: 250%;*/
    -webkit-transform: scale(1, 2.1);
    /* Safari and Chrome */
    -moz-transform: scale(1, 2.1);
    /* Firefox */
    -ms-transform: scale(1, 2.1);
    /* IE 9+ */
    -o-transform: scale(1, 2.1);
    /* Opera */
}

.helvetica {
    font: Helvetica;
    font-size: 1.5em !important;
    font-weight: normal;
    letter-spacing: .07em;
    margin: 05px;
    /*line-height: 200%;*/
    -webkit-transform: scale(1, 2.1);
    /* Safari and Chrome */
    -moz-transform: scale(1, 2.1);
    /* Firefox */
    -ms-transform: scale(1, 2.1);
    /* IE 9+ */
    -o-transform: scale(1, 2.1);
    /* Opera */
}

.padding {
    padding: 50px;
}

.homepage-header-image {
    width: 100%;
}

.site-logo {
    margin: 0 auto;
}

.subscribe-link-alert {
    color: #ff902b;
    font-size: 15px;
    text-decoration: underline;
}

.footer {
    background: black;
    color: white;
    vertical-align: middle;
    padding: 15px;
}

@media (min-width: 1200px) {
    .list-group-item {
        height: 349px;
    }
    .homepage_youtube_video {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
}

.center {
  display: block;
  clear: both;
  text-align: center;
}

@media (max-width: 500px) {
  .tk-blackoak-std {
    font-size: 1.5em;
  }

  .home-subtitle {
    padding-top: 40px;
  }
}

.turbolinks-progress-bar {
  background-color: #8b0000;
}
