body {
    background-color: #f7f7f7;
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center;
    font-size: 25px !important;
    padding: 0px !important;
    margin-bottom: 0px !important;
    border-radius: 2px 2px 0 0;
}

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center;
    font-size: 25px !important;
    padding: 0px !important;
    margin-bottom: 0px !important;
    border-radius: 2px 2px 0 0;
}

.alert-success {
    background-color: #88888F;
    border-color: #5F5E63;
    color: #FFFFFF;
    text-align: center;
    font-size: 25px !important;
    padding: 0px !important;
    margin-bottom: 0px !important;
    border-radius: 2px 2px 0 0;
}

.alert-notice {
    background-color: #88888F;
    border-color: #5F5E63;
    color: #FFFFFF;
    text-align: center;
    font-size: 25px !important;
    padding: 0px !important;
    margin-bottom: 0px !important;
    border-radius: 2px 2px 0 0;
}

.container {
    width: auto;
    padding: 0px;
}

.list-group-item {
    border: 5px solid #e4eaec;
}

.h1 {
    color: rgba(49, 63, 78, 0.90);
    font-size: 75px;
    line-height: 100px;
    font-weight: 700;
    text-align: center;
    /*text-transform: uppercase;*/
    text-shadow: 0 0 25px rgba(0, 0, 0, 0.15);
}

.h2 {
    color: rgba(49, 63, 78, 0.75);
    margin-bottom: 40px;
    font-family: "Roboto Slab", serif;
    font-size: 25px;
    line-height: 40px;
}

.h22 {
    color: #454647;
    font-size: 50px;
    line-height: 40px;
    opacity: .90;
}

.how_it_works {
    background-color: rgba(81, 82, 83, 0.1);
    padding: 0px;
}

.panel-heading-how-it-works {
    height: auto;
    font-family: "Roboto Slab", serif;
    font-size: 30px;
    line-height: 25px;
    padding-left: 20px;
}

.panel-body-how-it-works {
    height: 100px;
    text-align: left;
    padding-left: 20px;
    line-height: 22px;
    padding-top: 20px;
}

.vertical-align {
    display: flex;
    align-items: center;
    flex: 100;
}

h2.usp-heading {
    margin-top: 0px;
}

.panel-heading {
    height: 100px;
}

// reports index
.panel-default-reports {
    border-top-width: 3px;
    background-color: #88888F !important;
    color: white;
}

// edit user
.panel-heading-edituser {
    background-color: #88888F !important;
    padding-left: 40px !important;
    color: white;
}

.panel-body-edituser {
    line-height: 2.0 !important;
    padding: 30px;
}

.panel-inverse-edituser {
    border: 1px solid;
}

.btn-block-edituser {
    background-color: #88888F !important;
    color: white;
}

// blog
.panel-body-buzz {
    padding: 1px;
}

.tk-blackoak-std {
    font-size: 2.5em !important;
    letter-spacing: .12em;
    margin: 05px;
    /*line-height: 250%;*/
    -webkit-transform: scale(1, 2.1);
    /* Safari and Chrome */
    -moz-transform: scale(1, 2.1);
    /* Firefox */
    -ms-transform: scale(1, 2.1);
    /* IE 9+ */
    -o-transform: scale(1, 2.1);
    /* Opera */
}

.helvetica {
    font: Helvetica;
    font-size: 1.5em !important;
    font-weight: normal;
    letter-spacing: .07em;
    margin: 05px;
    /*line-height: 200%;*/
    -webkit-transform: scale(1, 2.1);
    /* Safari and Chrome */
    -moz-transform: scale(1, 2.1);
    /* Firefox */
    -ms-transform: scale(1, 2.1);
    /* IE 9+ */
    -o-transform: scale(1, 2.1);
    /* Opera */
}

.padding {
    padding: 50px;
}

.homepage-header-image {
    width: 100%;
}

@media (min-width: 1200px) {
    .list-group-item {
        height: 349px;
    }
}

@media (max-width: 600px) {
    .tk-blackoak-std {
        font-size: 1.5em !important;
    }
    .helvetica {
        font-size: 1.2em !important;
        padding-top: 20px;
    }
}
