.invoice-container {
  width: 50%;
  margin: auto;
}

.sold-by {
  margin-bottom: 25px;
}

.right {
  text-align: right;
}

.amount-breakdown {
  margin-top: 50px;
}

.amount-table, .amount-table tr, .amount-table td {
  border: solid 1px black;
}

.amount-table td {
  height: 30px;
  width: 400px;
  padding-left: 10px;
}
