// Place all the styles related to the Reports controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.form-group-new {
    display: block;
    width: 100%;
    height: 35px;
    padding: 6px 16px;
    font-size: 14px;
    line-height: 1.52857143;
    color: #3a3f51;
    background-color: #ffffff;
    background-image: none;
    border: 1px solid #dde6e9;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
    -webkit-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

select#report_location_id {
    width: 100%;
}

.legend-css {
    padding: 5px;
    line-height: 2;
    background-color: #e1e2e3;
    border: 3px solid #191919;
    border-radius: 5px;
    display: inline-block;
    max-width: 100%;
    height: auto;
    border-radius: 2px 2px 0 0;
}

.legend-div {
    padding-top: 10px !important;
}

.title-css {
    padding: 10px;
    line-height: 1;
    background-color: #e1e2e3;
    border: 3px solid #191919;
    border-radius: 5px;
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 2px 2px 0 0;
}

.title-css-bodyt {
    padding: 10px;
    line-height: 1.5;
    background-color: #FEFFFF;
    border: 3px solid #191919;
    border-radius: 5px;
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 2px 2px 0 0;
    border-top: none;
    border-bottom: none;
}

.title-css-bodyb {
    padding: 10px;
    line-height: 1.5;
    background-color: #FEFFFF;
    border: 3px solid #191919;
    border-radius: 5px;
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 2px 2px 0 0;
    padding-bottom: 10px;
}

.footer-css {
    padding: 10px;
    line-height: 1;
    border: 3px solid #191919;
    border-radius: 5px;
    display: block;
    max-width: 100%;
    height: auto;
    border-radius: 2px 2px 0 0;
    border-top: none;
    text-align: center;
}

.h4-color {
    font-family: "Source Sans Pro", sans-serif;
    color: #112A8A;
}

.alert-error {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center;
    font-size: 25px !important;
    padding: 0px !important;
    margin-bottom: 0px !important;
    border-radius: 2px 2px 0 0;
}

.alert-alert {
    background-color: #f2dede;
    border-color: #eed3d7;
    color: #b94a48;
    text-align: center;
    font-size: 25px !important;
    padding: 0px !important;
    margin-bottom: 0px !important;
    border-radius: 2px 2px 0 0;
}

.alert-success {
    background-color: #88888F;
    border-color: #5F5E63;
    color: #FFFFFF;
    text-align: center;
    font-size: 25px !important;
    padding: 0px !important;
    margin-bottom: 0px !important;
    border-radius: 2px 2px 0 0;
}

.alert-notice {
    background-color: #88888F;
    border-color: #5F5E63;
    color: #FFFFFF;
    text-align: center;
    font-size: 25px !important;
    padding: 0px !important;
    margin-bottom: 0px !important;
    border-radius: 2px 2px 0 0;
}

.container {
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding-right: 0px !important;
    padding-left: 0px !important;
    width: auto !important;
}

.h3 {
    margin-bottom: 0px !important;
    margin-top: 10px !important;
    font-weight: bold;
}

.pagination-section {
    text-align: center;
}

.report-header-image {
    width: 100%;
}

.location_id[disabled] {
    background: #ffc;
    color: #998;
}

.fa-minus-square {
    color: #e78585;
}

#datatable1-body {
    height: 500px;
    overflow-y: scroll;
    display: -webkit-box;
}

tbody#datatable1-body> tr {
    display: inline-flex;
}

#datatable1> thead> tr {
    display: inline-flex;
}

.wd-td3 {
    white-space: pre-wrap;
}

#datatable1> thead {
    background: #e0e0e0;
}

.field_with_errors {
  color: red;
}

@media screen and (max-width: 767px) {
    .table-responsive> .table> thead> tr> th,
    .table-responsive> .table> tbody> tr> th,
    .table-responsive> .table> tfoot> tr> th,
    .table-responsive> .table> thead> tr> td,
    .table-responsive> .table> tbody> tr> td,
    .table-responsive> .table> tfoot> tr> td {
        white-space: pre-wrap;
    }
}
