<div class="content-wrapper">
            <div class="row">
               <!-- Blog Content-->
               <div class="col-lg-9">
                  <div class="panel panel-default">
                     <div class="panel-heading">
                        <div class="bb">
                           <h2 class="text-lg">Hi this is about Currents</h2>
                           <p class="clearfix">
                              <span class="pull-left">
                                 <small class="mr-sm">By <a href="">AJ Costa</a>
                                 </small>
                                 <small class="mr-sm">August 10, 2016</small>
                                 <small>
                                    <strong>56</strong>
                                    <span>Comments</span>
                                 </small>
                              </span>
                           </p>
                        </div>
                     </div>
                     <div class="panel-body text-md">
                        <p>Praesent bibendum eros urna, in mattis est. Curabitur a purus urna, sit amet auctor erat. Praesent pellentesque augue eu tellus facilisis pretium. Aenean sollicitudin facilisis tortor eu mollis. Vivamus feugiat faucibus enim. Sed
                           ut semper leo. Etiam feugiat risus massa. Nunc et magna in metus pharetra ultricies ac sit amet justo. Donec eu dolor sem, non auctor sapien. Suspendisse nisl nulla, interdum at fermentum eget, adipiscing in elit.</p>
                        <p>Proin est sapien, convallis non hendrerit nec, laoreet ut ipsum. Praesent blandit venenatis mauris ac cursus. Nulla commodo interdum magna consectetur lacinia. Maecenas vitae adipiscing mauris. Nam sodales sollicitudin adipiscing.</p>
                       
