<div class="content-wrapper">
  <div class="row">
     <!-- Blog Content-->
     <div class="col-lg-1"></div>
     <div class="col-lg-10">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="bb">
              <h2 class="text-lg">About Us</h2>
                <p class="clearfix">
                  <span class="pull-left">
                     <small class="mr-sm">By <a href="">AJ Costa</a>
                     </small>
                  </span>
                </p>
            </div>
          </div>
          <div class="panel-body text-md">
            <p>
               Currents was born out of a necessity for information.  As technology enhances the sportfishing community has lagged behind with old school traditions and dockside rumors. As fuel prices increase and fish populations decline around the world, making informed decisions on where to fish is paragon for any successful trip.  Captains often have a limited network to share information often by their homeport or geographical location, frequently dealing with hearsay and outdated information. With the investment of boat costs, tackle, fuel and bait arming yourself with the latest trustworthy information is what Currents can do for you. 
            </p>
              <!--    <p>
                 AJ Costa founder was born on the waters off cape cod.  Grew up on charter boats, and commercial boats.    AJ spends his time chasing bluefin tuna, striped bass, and groundfish off cape code,  or on the hunt for giants off Prince Edward Island.
              </p> -->
              <%= image_tag 'plymouth.jpg',  class: 'img-responsive', style: 'display:block; opacity: .65; padding-left: 110px' %>
          </div>
        </div>
     <div class="col-lg-1"></div>    
  </div>
</div>    
