<div class="content-wrapper">
  <div class="row">
     <!-- Blog Content-->
     <div class="col-lg-1"></div>
     <div class="col-lg-10">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="bb">
              <h2 class="text-lg">About Us</h2>
                <p class="clearfix">
                  <span class="pull-left">
                     <small class="mr-sm">By <a href="">AJ Costa</a>
                     </small>
                  </span>
                </p>
            </div>
          </div>
          <div class="panel-body text-md">
            <p>
              Currents was born from the hunt for up to date trustworthy fishing intel.  With the investment into the sportfishing game, with boat cost, tackle, fuel and bait, targeting where the fish are will help eliminate searching to reduce time and fuel costs.  As technology enhances the sportfishing community has lagged behind with old school traditions and dockside rumors.  Captains often have a limited network to share information often by their homeport or geographical location, often dealing with hearsay and outdated information.  Currents will provide its members real time intel, conditions, and trending to put you in the action. 
            </p>
              <!--    <p>
                 AJ Costa founder was born on the waters off cape cod.  Grew up on charter boats, and commercial boats.    AJ spends his time chasing bluefin tuna, striped bass, and groundfish off cape code,  or on the hunt for giants off Prince Edward Island.
              </p> -->
              <%= image_tag 'plymouth.jpg',  class: 'img-responsive', style: 'display:block; opacity: .65; padding-left: 110px' %>
          </div>
        </div>
     <div class="col-lg-1"></div>    
  </div>
</div>    
