<div class="content-wrapper">
  <div class="row">
     <!-- Blog Content-->
     <div class="col-lg-1"></div>
     <div class="col-lg-10">
        <div class="panel widget bg-inverse-light">
          <div class="panel-heading">
              <h2 class="text-lg">Currents Fishing Network</h2>
                <p class="clearfix">
                  <span class="pull-left">
                     <small class="mr-sm">By <a href="">AJ Costa</a>
                     </small>
                  </span>
                </p>
          </div>
          <div class="panel-body text-md">
            <p>
              Currents is a fishing network with a single goal of providing a broader network so captains can eliminate searching and target where fish are. Saving both valuable time and fuel costs. 
            </p>
            <p>
              As technology enhances the sportfishing community has remained idle, stuck with old school traditions, keeping intel close to the vest which lends to distrust and dockside rumors.  Currents will provide a single reference point for the most up to date trustworthy intel that you can tap into before leaving the dock. 
              </p>
              <p>
              Utilizing out network of charter, recreational captains as well as reports from a network of spotter planes you can expand your network of intel beyond local marinas or homeport.  
              </p>
              <p>
              Our aim is provide its members real time intel, and a trustworthy network, to put you in the action. 
              </p> 

              <%= image_tag 'gh.png',  class: 'img-responsive', style: 'display:block; opacity: .65; margin: auto' %>
          </div>
        </div>
     <div class="col-lg-1"></div>    
  </div>
</div>    
