 <% provide(:title, "Weekly Forecast") %>
<style>
  </style>
<div class="content-wrapper">
  <div class="row">
    <div class="content-wrapper">
      <!-- Blog Content June 2017-->
      
      <div class="col-lg-2"></div>
      
      <div class="col-lg-8">
         <!-- Blog Content June 2017-->
        <div class="panel panel-inverse panel-flat">
          <div class="blog panel-heading">
            <h2 class="text-lg">Weekly Fishing Reports</h2>
          </div>
          <div class="panel-body video-panel-body">
            <div class="bb">
              <h2 class="text-md">May 19th Weekly Update</h2>
                <p class="clearfix">
                  <span class="pull-left">
                    <small class="mr-sm">By <a href="">AJ Costa</a></small>
                    <small class="mr-sm">May 19, 2017</small>
                  </span>
                </p>
            </div>
              <p class="clearfix">
                Check out the May update highlighting the arrival of Striped Bass in Massachusetts waters inluding a 60lber.
              </p>
            <div class="video-wrapper">  
              <iframe width="853" height="480" src="https://www.youtube.com/embed/y71msFz_B08?rel=0&amp;showinfo=0" frameborder="0" allowfullscreen></iframe>
              </iframe>
            </div>
          </div>
        <div>

          <!-- Blog Content Historical-->
                <div class="panel panel-inverse panel-flat">
          <div class="blog panel-heading">
            <h2 class="text-lg">Past Reports</h2>
          </div>
          <div class="panel-body video-panel-body">
            <div class="bb">
              <h2 class="text-md">Price Edward Island</h2>
                <p class="clearfix">
                  <span class="pull-left">
                    <small class="mr-sm">By <a href="">AJ Costa</a></small>
                    <small class="mr-sm">January 15, 2017</small>
                  </span>
                </p>
            </div>
              <p class="clearfix">
                Epic trip to PEI "Tuna capital of the world" in September of 2016.  The expertise of North Lake Charters and hospitality of the Keus family is world class.  Bruce and Cor will put you on the fish.  Enjoy......
              </p>
            <div class="video-wrapper">  
              <iframe src="https://player.vimeo.com/video/184247876" width="100%" height="auto" webkitallowfullscreen mozallowfullscreen allowfullscreen>
              </iframe>
            </div>
          </div>
        <div>
      </div>
      <div class="col-lg-2"></div>  
    </div>
  </div>
</div>



<!-- 
              <iframe width="100%" height="auto" src="https://www.youtube.com/embed/ClfXlg6m2qQ" frameborder="0" webkitallowfullscreen allowfullscreen></iframe> -->


              
