<Title>Weekly Forecast</title>
<div class="content-wrapper">
   <div class="row">
      <!-- Blog Content-->
      <div class="col-lg-9">
         <div class="panel panel-default">
            <div class="panel-heading">
               <div class="bb">
                  <h2 class="text-lg">Weekly Fishing Reports</h2>
               </div>
            </div>
            <div class="panel-body text-md">
               <p>
                  <iframe src="https://player.vimeo.com/video/184247876" width="640" height="360" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen></iframe>

               </p>
               <p>
                 Text
               </p>
             </div>
         <div>
      </div>
   </div>
</div>

