<% provide(:title, "Weekly Forecast") %>
<style>
  body {
      /*background-image: url(/assets/moon.png);*/
      /*background-repeat: repeat-x;*/
    } 
      .panel-heading {
      background-color: #88888F !important;
      padding-left: 40px !important;
    }
    .btn-block {
      background-color: #88888F !important;
      color: white;
    }
    .panel-inverse {
      border: 1px solid;

    }
    /*flash*/
  .alert-error {
      background-color: #f2dede;
      border-color: #eed3d7;
      color: #b94a48;
      text-align: left;
   }

  .alert-alert {
      background-color: #f2dede;
      border-color: #eed3d7;
      color: #b94a48;
      text-align: left;
   }

  .alert-success {
      background-color: #dff0d8;
      border-color: #d6e9c6;
      color: #468847;
      text-align: left;
   }

  .alert-notice {
      background-color: #dff0d8;
      border-color: #d6e9c6;
      color: #468847;
      text-align: left;
   }
</style>
<div class="content-wrapper">
  <div class="row">
    <div class="content-wrapper">
      <!-- Blog Content-->
      <div class="col-lg-2"></div>
      <div class="col-lg-8">
        <div class="panel panel-inverse panel-flat">
          <div class="panel-heading">
            <h2 class="text-lg">Weekly Fishing Reports</h2>
          </div>
          <div class="panel-body">
            <div class="bb">
              <h2 class="text-md">Price Edward Island</h2>
                <p class="clearfix">
                  <span class="pull-left">
                    <small class="mr-sm">By <a href="">AJ Costa</a></small>
                    <small class="mr-sm">January 15, 2017</small>
                  </span>
                </p>
            </div>
              <p class="clearfix">
                Epic trip to PEI "Tuna capital of the world" in September of 2016.  The expertise of North Lake Charters and hospitality of the Keus family is world class.  Bruce and Cor will put you on the fish.  Enjoy......
              </p>
            <div class="text-center">
              <iframe src="https://player.vimeo.com/video/184247876" width="750" height="450" frameborder="0" webkitallowfullscreen mozallowfullscreen allowfullscreen>
              </iframe>
            </div>
          </div>
        <div>
      </div>
      <div class="col-lg-2"></div>  
    </div>
  </div>
</div>

