<title>Currents</title>
<head>
   <meta charset="utf-8">
   <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
   <meta name="description" content="Bootstrap Admin App + jQuery">
   <meta name="keywords" content="app, responsive, jquery, bootstrap, dashboard, admin">
   <title>Angle - Bootstrap Admin Template</title>
   <!-- =============== VENDOR STYLES ===============-->
   <!-- FONT AWESOME-->
   <link rel="stylesheet" href="../vendor/fontawesome/css/font-awesome.min.css">
   <!-- SIMPLE LINE ICONS-->
   <link rel="stylesheet" href="../vendor/simple-line-icons/css/simple-line-icons.css">
   <!-- ANIMATE.CSS-->
   <link rel="stylesheet" href="../vendor/animate.css/animate.min.css">
   <!-- WHIRL (spinners)-->
   <link rel="stylesheet" href="../vendor/whirl/dist/whirl.css">
   <!-- =============== PAGE VENDOR STYLES ===============-->
   <!-- =============== BOOTSTRAP STYLES ===============-->
   <link rel="stylesheet" href="css/bootstrap.css" id="bscss">
   <!-- =============== APP STYLES ===============-->
   <link rel="stylesheet" href="css/app.css" id="maincss">
</head>

<div class="wrapper">

	<div class="content-wrapper">
  <div class="row">
                <div class="col-md-12">
                  <div class="panel panel-default">
                    <div class="panel-heading"></div>
                      <img src="/assets/Homepage3.png" alt="CC Bay" class="img-responsive" style="display:block; opacity: .85">
                     </div>
                  </div>
               </div>
            </div>
            <div class="p-lg text-center">
           <h1>Currents</h1>
           <h2>Fishing Network</h2>
               <large>No nonsense, central location for upto the minute fishing intel.
               <br>	
               Have another set of eyes on the water.
             </medium>
            </h3>
          </div>

            
                
               
                <%= link_to "Join Network", new_user_registration_path, class: 'btn btn-info' %>
                

            <div class="container-fluid">
               <button id="start-tour" class="mb-sm btn btn-info">Join Network</button>
               <div class="row">
                  <div class="col-lg-4">
                     <div id="tour-step-1" data-title="Step 1" data-content="This is the fisrt step" data-placement="right" class="panel tour-step">
                        <div class="panel-heading">Real Time Heatmaps</div>
                        <div class="panel-body">
                        	<!-- <img src="/assets/map_theme/chart.jpg" alt="App Logo" class="img-responsive" style="display:block; opacity: .65"> -->
                           	<br>
                            <p>
	                           	Time and fuel costs are always important considerations when fishing. Currents will show you where the fish are located before you leave the dock and while fishing by sending you the most comprehensive interpretive oceanographic analysis for fishing. We will put you on the fish!
							</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div id="tour-step-2" data-title="Step 2" data-content="This is the second step" data-placement="left" class="panel tour-step">
                        <div class="panel-heading">Personal Catch Reports</div>
                        <br>
                        <!-- <img src="/assets/map_theme/simrad.jpg" alt="App Logo" class="img-responsive" style="display:block; width: 450px; height: 300px; opacity: .55"> -->
                        <div class="panel-body">
                           <p>Currents loves to talk to clients before, during and after their trips.  Currents tries to update their “catch reports” on a weekly basis and will only report first hand information.  No hear-say or dock rumors here!  Please click below to view the most recent catch reports on our website now!</p>
                        </div>
                     </div>
                  </div>
                  <div class="col-lg-4">
                     <div id="tour-step-2" data-title="Step 2" data-content="This is the second step" data-placement="left" class="panel tour-step">
                        <div class="panel-heading">Real Time Intel</div>
                        <br>
                        <!-- <img src="/assets/map_theme/compass2.jpg" alt="App Logo" class="img-responsive" style="display:block; opacity: .65"> -->

                   		   <div class="panel-body">
                           <p>Currents loves to talk to clients before, during and after their trips.  Currents tries to update their “catch reports” on a weekly basis and will only report first hand information.  No hear-say or dock rumors here!  Please click below to view the most recent catch reports on our website now!</p>
                        </div>
                     </div>
                  </div>
               </div>
               
               <div class="row">
                  <div class="col-lg-4">
                     <div id="tour-step-3" data-title="Last Step" data-content="This is the last step" data-placement="top" class="panel tour-step">
                        <div class="panel-heading">Crows Nest</div>
                        <div class="panel-body"><pre>
                          <blockquote class="instagram-media" data-instgrm-version="7" style=" background:#FFF; border:0; border-radius:3px; box-shadow:0 0 1px 0 rgba(0,0,0,0.5),0 1px 10px 0 rgba(0,0,0,0.15); margin: 1px; max-width:658px; padding:0; width:99.375%; width:-webkit-calc(100% - 2px); width:calc(100% - 2px);"><div style="padding:8px;"> <div style=" background:#F8F8F8; line-height:0; margin-top:40px; padding:50.0% 0; text-align:center; width:100%;"> <div style=" background:url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAABGdBTUEAALGPC/xhBQAAAAFzUkdCAK7OHOkAAAAMUExURczMzPf399fX1+bm5mzY9AMAAADiSURBVDjLvZXbEsMgCES5/P8/t9FuRVCRmU73JWlzosgSIIZURCjo/ad+EQJJB4Hv8BFt+IDpQoCx1wjOSBFhh2XssxEIYn3ulI/6MNReE07UIWJEv8UEOWDS88LY97kqyTliJKKtuYBbruAyVh5wOHiXmpi5we58Ek028czwyuQdLKPG1Bkb4NnM+VeAnfHqn1k4+GPT6uGQcvu2h2OVuIf/gWUFyy8OWEpdyZSa3aVCqpVoVvzZZ2VTnn2wU8qzVjDDetO90GSy9mVLqtgYSy231MxrY6I2gGqjrTY0L8fxCxfCBbhWrsYYAAAAAElFTkSuQmCC); display:block; height:44px; margin:0 auto -44px; position:relative; top:-22px; width:44px;"></div></div><p style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; line-height:17px; margin-bottom:0; margin-top:8px; overflow:hidden; padding:8px 0 7px; text-align:center; text-overflow:ellipsis; white-space:nowrap;"><a href="https://www.instagram.com/p/BKwP3DQhunu/" style=" color:#c9c8cd; font-family:Arial,sans-serif; font-size:14px; font-style:normal; font-weight:normal; line-height:17px; text-decoration:none;" target="_blank">A video posted by @currentsfishingnetwork</a> on <time style=" font-family:Arial,sans-serif; font-size:14px; line-height:17px;" datetime="2016-09-24T21:32:19+00:00">Sep 24, 2016 at 2:32pm PDT</time></p></div></blockquote>
                          <script async defer src="//platform.instagram.com/en_US/embeds.js"></script>
                            </pre>

                        </div>
                     </div>
                  </div>
               </div>
            </div>
         </div>
      </section>
      
   </div>
