<h1>Currents</h1>
<h2>Fishing Network</h2>

<p>
No nonsense, central location for upto the minute fishing intel.
<br>
Have another set of eyes on the water.
</p>

<% if user_signed_in? %>
          <li><%= link_to "Sign out", destroy_user_session_path,
           method: :delete %></li>
        <% else %>
          <li><%= link_to "Register", new_user_registration_path %></li>
        <% end %>
