<% provide(:title, "Pricing") %>
      <section class="pricing">
         <!-- Page content-->
         <div class="content-wrapper">
            <div class="container container-md pv-lg">
               <div class="text-center mb-lg pb-lg">
                  <div class="h1 text-bold">Select Subscription Level</div>
                  <p>Choose recreational or commercial users based off licensing</p>
               </div>
            </div>
              <div class="container container-md">
                 <!-- START PLAN TABLE-->
                 <div class="row">
                    <!-- PLAN-->
                    <div class="col-md-1"></div>
                    <div class="col-md-5">
                       <div class="plan">
                          <h3 class="plan-header">Recreational Member</h3>
                          <div class="plan-price">
                             <div class="text-lg"><sup><small>$</small></sup>10.99/Month
                                <!-- span.plan-period /mo-->
                             </div>
                          </div>
                          <ul class="plan-features">
                             <li>
                                <em class="fa fa-check"></em>Network with other users</li>
                             <li>
                                <em class="fa fa-check"></em>Real time updates</li>
                             <li>
                                <em class="fa fa-check"></em>Cath Logging tools</li>
                             <li>
                                <em class="fa fa-check"></em>Weekly updates for area</li>
                             <li>
                                <em class="fa fa-check"></em>Heatmap access</li>
                             <li>
                                <em class="fa fa-times plan-feature-disable"></em>Heatmap access to catch reports of commercial users</li>

                          </ul>
                          <hr>
                          <p><br></p>
                          <div class="text-center"><a href="" class="btn btn-info">Choose</a>
                          </div>
                       </div>
                    </div>
                    <!-- PLAN-->
                    <div class="col-md-5">
                       <div class="plan">
                          <h3 class="plan-header">Commercial Member</h3>
                          <div class="plan-price">
                             <div class="text-lg"><sup><small>$</small></sup>7.99/Month
                                <!-- span.plan-period /mo-->
                             </div>
                          </div>
                          <ul class="plan-features">
                             <li>
                                <em class="fa fa-check"></em>Network with other users</li>
                             <li>
                                <em class="fa fa-check"></em>Real time updates</li>
                             <li>
                                <em class="fa fa-check"></em>Cath Logging tools</li>
                             <li>
                                <em class="fa fa-check"></em>Weekly updates for area</li>
                             <li>
                                <em class="fa fa-check"></em>Heatmap access</li>
                             <li>
                                <em class="fa fa-check"></em>Heatmap view of commercial user reports</li>

                          </ul>
                          <hr>
                          <p class="plan-description">* Submission and review of commercial license required</p>
                          <div class="text-center"><a href="" class="btn btn-info">Choose</a>
                          </div>
                       </div>
                    </div>
                    <div class="col-md-1"></div> 
                    <!-- PLAN-->
                 </div>
                 <!-- END PLAN TABLE-->
               <p class="text-center text-muted">
                  <small>* Subject to specific network rules. Failure to participate or deviate from the rules will result in immediate termination of membership.</small>
               </p>
            </div>
         </div>
      </section>
