<style>
.panel-default {
	border-color: #333333; 

}
.panel-heading {
	background-color: #454647 !important;
	color: white !important;
}
.panel-body {
font-size: 18px !important;


}
</style>

</br>
<div class="row">
	<div class="container">
		<div class="col-lg-2">
      <!-- <a href="maps"> -->
        <%#= image_tag 'fishrod.png',  class: 'img-responsive', style: 'display:block; opacity: .80' %>
    </div>
		<div class="col-lg-8">
			<div class="panel panel-default">
				<div class="panel-heading text-center"><h2>Network Rules</h2></div>	
				<div class="panel-body">
					
						<ol>
							<li>Network <strong>participation required</strong> </li>
							<li><strong>Recreational Users</strong> required to post 20 reports per year</li>
							<li><strong>Commercial Users</strong> required to post 40 reports per year</li>
							<li>Validation required for commercial user access- Required to submit picture of <strong>commercial license for eligibility</strong>.  Commercial users will be able to view both Commercial and Recreational user reports in the Heatmaps.  Recreational users will be limited to view rec user reports. </li>
							<li><strong>Zero catch trip reports</strong> are encouraged to help network and count towards annual requirement.</li>
							<li><strong>Multi Species Trips</strong> on same day require multiple report submissions and will count towards annual requirement.</li>
							<li><strong>First Hand Reports Only </strong> all report submissions to be first hand information of your personal catch that will be associated with your name or vessel.  Second hand information or dock talk is not permitted.</li>
							
							<li><strong>Same day reporting </strong> catch reports to be submitted by within same calendar day of trip to count toward annual requirement</li>
							<li><strong>Private vs Public information</strong> a limited portion of a catch report is viewable by the network including a General area where the catch occurs.  This is not your private numbers or hotspot, and represents general areas.  The remaining portion of your catch report is private information only accessible by you.  Please see how it works for more details</li>
							<li><strong>Report validation</strong> reports will be reviewed to ensure accuracy.  Any report submission deviating from standard catch results will be questioned and removed if found to be in error.</li>
							<li><strong>Termination</strong> any report that are determined to be malicious or of false intend will lead to termination from the network.</li>
							
						</ol>
				</div>
			</div>
		</div>
		<div class="col-lg-2"></div>
		</div>
	</div>
<div class="container-fluid">
	<div class="p-lg text-center">
		<%= link_to "Join Network", new_user_registration_path, class: 'btn btn-danger btn-lg' %>
		
		<%= link_to "http://www.surveygizmo.com/s3/3316174/Currents-Fishing-Network", target: :_blank do %>
 		<h1 style="font-size: 35px; color: red; text-align: center">Click here to provide feedback on feature </h1>
 		<% end %>
	</div>
</div>


