</br>
<div class="row">
	<div class="col-lg-2"></div>
	<div class="col-lg-8">
		<div class="panel panel-default">
			<div class="panel-heading"><h2>Network Rules</h2></div>	
			<div class="panel-body">
				
					<ol>
						<li>Network participation required </li>
						<li>Recreational users required to post 10 reports per year</li>
						<li>Commercial users required to post 15 reports per year</li>
						<li>Commercial Users (requires validation)- Required to submit picture of commercial license for eligibility.  Commercial users will be able to view both Commercial and Recreational user reports in the Heatmaps.  Recreational users will be limited to view rec user reports. </li>
						<li>Real Time report submission  - catch reports to be submitted by 12pm day after trip date to count toward annual requirement</li>
						<li>Private vs Public information - A limited portion of a catch report is viewable by the network including a General area where the catch occurs.  This is not your private numbers or hotspot, and represents general areas.  The remaining portion of your catch report is private information only accessible by you.  Please see how it works for more details</li>
						<li>Report validation - reports will be reviewed to ensure accuracy.  Any report submission deviating from standard catch results will be questioned and removed if found to be in error.</li>
						<li>Termination - Any report that are determined to be malicious or of false intend will lead to termination from the network.</li>
						<li>Zero Catch Reports - Zero catch trip reports are encouraged to help network and count towards annual requirement.</li>
						<li>First Hand Reports - All report submissions to be first hand information of your personal catch that will be associated with your name or vessel.  Second hand information or dock talk is not permitted.</li>
					</ol>
			</div>
		</div>
	</div>
	<div class="col-lg-2"></div>
</div>

<div class="container-fluid">
	<div class="p-lg text-center">
		<%= link_to "Join Now", new_user_registration_path, class: 'btn btn-inverse btn-lg' %>
	</div>
</div	>