$('.location_id').empty();
$('.location_id').append($('<option>Select Location</option>'));
<% @state_locations.each do |location| %>
	$('.location_id').append($('<%= render_location_option(location) %>'));
<% end %>
$('.location-legend-image').attr("src", "<%= asset_path("location_legends/" + @state.name + ".png") %>");
