<footer id="footer" class="footer-inverse" role="contentinfo">
  <div id="footer-bottom">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-md-push-9">
          <h3 class="title-underblock mb20"><span>Social Media</span></h3>
                        <p>You can find us on social media, get it touch and send messages via social medias... Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p>
          <div class="social-icons text-white">
            <a href="https://www.facebook.com/CurrentsFishingNetwork/" class="social-icon icon-facebook" title="Facebook">
              <i class="fa fa-facebook"></i>
            </a>
            <a href="https://twitter.com/network_fishing" class="social-icon icon-twitter" title="Twitter">
              <i class="fa fa-twitter"></i>
            </a>
            <a href="https://www.youtube.com/channel/UC2m-KyTZDGfMqss_KQ0E9Xw" class="social-icon icon-youtube" title="YouTube">
              <i class="fa fa-youtube"></i>
            </a>
            <a href="https://www.instagram.com/currentsfishingnetwork" class="social-icon icon-instagram" title="Instagram">
              <i class="fa fa-instagram"></i>
            </a>
            <a href="mailto:intel@thefishing.network" class="social-icon" title="Email">
              <i class="fa fa-envelope"></i>
            </a>
          </div>
          <!-- End .social-icons -->
        </div>
        <!-- End .col-md-6 -->
        <div class="col-md-6 col-md-pull-3">
          <p class="copyright">© All right reserved, Currents - The Fishing Network<%= mail_to 'intel@thefishing.network' %></p>
        </div>
        <!-- End .col-md-6 -->
      </div>
      <!-- End .row -->
    </div>
    <!-- End .container -->
  </div>
  <!-- End #footer-bottom -->
</footer>
<!-- End #footer -->
</div>
<!-- #main-content -->
<a href="#top" id="scroll-top" title="Back to Top"><i class="fa fa-angle-up"></i></a>
