<div class="footer" id="responsive">
  <!-- <div class="col-xs-3"> -->
  <div class="copyright">
    &copy; All right reserved, Currents - The Fishing Network
  </div>
  <!-- </div> -->
  <!-- 
	<div class="col-xs-2">		
	</div> -->
  <!-- 	<div class="col-xs-4">
				Please Say Hello On:

		    <a href="https://twitter.com/network_fishing" target="_blank">
		       <em class="icon-social-twitter btn-lg"></em>
		    </a>
				<a href="https://www.youtube.com/channel/UC2m-KyTZDGfMqss_KQ0E9Xw" target="_blank">
		       <em class="icon-social-youtube btn-lg"></em>
		     </a>
		    <a href="https://twitter.com/network_fishing" target="_blank">
		       <em class="icon-social-twitter btn-lg"></em>
		    </a>
		    <a href="https://www.facebook.com/CurrentsFishingNetwork/" target="_blank">
		      <em class="icon-social-facebook btn-lg"></em>
		    </a>
		    <a href="https://www.instagram.com/currentsfishingnetwork" target="_blank">
		      <em class="icon-social-instagram btn-lg"></em>
		    </a>
		   </div> -->
  <!-- <div class="col-xs-3"> -->
  <div class="support-email">
    Contact Us <%= mail_to 'intel@thefishing.network' %>
  </div>
  <!-- </div> -->
  <!-- 	
	<br> -->
</div>
