<div class="footer">
  <div class="support-email pull-right">
	  Contact Us <%= mail_to 'intel@thefishing.network' %>
  </div>
  <div class="copyright">
    &copy; All right reserved, Currents - The Fishing Network
  </div>
</div>
